<!DOCTYPE html>
<html ng-app="myApp" ng-controller="search">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> 
<script src="searchController.js"></script>
<script>
function noBus() {
    alert("No buses matching your search criteria");
}
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
<title>Bus Evide</title>
<div ng-hide="busList">
Origin:&emsp;&emsp;&emsp;<input type="text" ng-model="origin"><br>
Destination: <input type="text" ng-model="destination"><br>
<br>
<button class="button" ng-click="find()">Submit</button><br>
</div>

<div ng-show="busList">
 <table class="w3-table-all w3-centered" ng-show='!isEmpty(busList)'>
    <thead>
        <tr class="w3-blue">
            <th>Bus Detail</th>
            <th>Origin</th>
            <th>Departure Time</th>
            <th>Route</th>
            <th>Destination</th>
            <th>Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bus in busList">
            <td>{{bus.busNumber}}</td>
            <td>{{bus.origin}}</td>
            <td>{{bus.depTime}}</td>
            <td>{{bus.route}}</td>
            <td>{{bus.destination}}</td>
            <td>{{bus.arrTime}}</td>
        </tr>
    </tbody>
    </table>
  <p ng-show='isEmpty(busList)'> No buses matching your search criteria</p> 
  <a href="index.html">Search Again</a>  
</div>

</body>
</html>